@page "/"
@using WeatherApp.Models
@using WeatherApp.Services
@inject WeatherService WeatherService
@inject IJSRuntime JS

<section class="main-part">
    <section class="search-section">
        <h1>Daily Weather Forecast</h1>
        <div class="search-container">
            <input id="searchInput" 
            class="search-input" 
            type="text" @bind="City" 
            placeholder="Search for location..." 
            autofocus="autofocus" />
            <button class="search-button" @onclick="GetWeather">
                🔍
            </button>
        </div>
    </section>
    <section class="weather-container">
        @if (IsLoading)
        {
            <svg class="loading-progress">
                <circle r="40%" cx="50%" cy="50%" />
                <circle r="40%" cx="50%" cy="50%" />
            </svg>
            <div class="loading-progress-text"></div>
        }

        @if (WeatherResponse != null)
        {
            <div class="top-weather">
                <h2>@WeatherResponse.Name</h2>
                <img src="@($"https://openweathermap.org/img/wn/{WeatherResponse.Weather[0].Icon}@2x.png")"
                alt="@WeatherResponse.Weather[0].Description">
            </div>
            <div class="midle-weather">
                <p class="date">Today, 
                    @DateTime.Now.ToString("dd MMMM", 
                              new System.Globalization.CultureInfo("en-GB"))</p>
                <p class="temperature">@Math.Round(WeatherResponse.AboutWeather.Temp)°</p>
                <p class="description">@WeatherResponse.Weather[0].Description.ToUpper()</p>
                <div class="additional-info">
                    <div class="additional-info-container">
                        <div class="start-info">@WeatherResponse.Wind.Speed m/s</div>
                        <div class="separator">|</div>
                        <div class="end-info">Wind</div>
                    </div>
                    <div class="additional-info-container">
                        <div class="start-info">Hum</div>
                        <div class="separator">|</div>
                        <div class="end-info">@WeatherResponse.AboutWeather.Humidity%</div>
                    </div>
                </div>
            </div>
        }

        @if (!string.IsNullOrEmpty(Response))
        {
            <h4>@Response</h4>
        }
    </section>
</section>

<section class="daily-forcasted">
    <h2>Hourly Update</h2>
    @if (_forecast != null)
    {
        <div class="forecast-container">
            <button class="scroll-btn left" @onclick="ScrollLeft">‹</button>
            <div class="forecast-wrapper" @ref="forecastDiv">
                @foreach (var item in _forecast.List)
                {
                    <div class="forecast-card">
                    </div>
                }
            </div>
            <button class="scroll-btn right" @onclick="ScrollRight">›</button>
        </div>
    }
</section>





@* 
<p>Sea Level Pressure: @Weather1.AboutWeather.SeaLevelPressure hPa</p>
<p>Visibility: @(Weather1.Visibility.ToString()) km</p>

<p>Wind Gust Speed: @Weather1.Wind.Gust m/s </p>
<p>Wind Direction: @GetWindDirection(Weather1.Wind.Deg) (Weather1.WindInfo.Deg°)</p>
   <p>
                    Sunrise: @ConvertToUniversalTime(Weather1.CurrentSunInfo.Sunrise)
                </p>

                <p>
                    Sunset: @ConvertToUniversalTime(Weather1.CurrentSunInfo.Sunset)
                </p>*@


@code {
    private string City { get; set; } = string.Empty;

    private CurrentWeatherResponse? WeatherResponse { get; set; }

    private string Response { get; set; } = string.Empty;

    private ForecastResponse? _forecast;

    private bool IsLoading { get; set; } = false;

    private ElementReference forecastDiv;


    protected override async Task OnInitializedAsync()
    {
        City = "Rivne";

        await GetWeather(); // Викликаємо метод для отримання погоди при завантаженні сторінки

        City = string.Empty;
    }

    private void ScrollLeft()
    {
        JS.InvokeVoidAsync("scrollForecast", forecastDiv, -400);
    }

    private void ScrollRight()
    {
        JS.InvokeVoidAsync("scrollForecast", forecastDiv, 400);
    }

    private async Task GetWeather()
    {
        if (string.IsNullOrWhiteSpace(City))
        {
            WeatherResponse = null;
            Response = "City cannot be empty!";
            return;
        }

        IsLoading = true;
        WeatherResponse = null;
        Response = string.Empty;

        var errorOrResult = await WeatherService.GetWeatherAsync(City);
        IsLoading = false; // Stop loading after API call

        if (errorOrResult.IsError)
        {
            Response = errorOrResult.FirstError.Code;
            return;
        }

        WeatherResponse = errorOrResult.Value;

        await FetchForecast();
    }


    private async Task FetchForecast()
    {
        var errorOrResult = await WeatherService.GetWeatherForecastAsync(City);

        if (errorOrResult.IsError)
        {
            Response = errorOrResult.FirstError.Code;
            return;
        }

        _forecast = errorOrResult.Value;

    }

    public string GetWindDirection(double windDeg)
    {
        string[] directions = { "N", "NE", "E", "SE", "S", "SW", "W", "NW", "N" };
        int index = (int)Math.Round(windDeg / 45.0) % 8;
        return directions[index];
    }

    public string ConvertToUniversalTime(int time)
    {
        return DateTimeOffset.FromUnixTimeSeconds(time)
                .ToLocalTime().ToString("HH:mm");
    }
}


@* <h4>@Weather1.Name</h4>

<p>Today: @Weather1.Weather[0].Name</p>

<img src="@($"https://openweathermap.org/img/wn/{@Weather1.Weather[0].Icon}@2x.png")"
     alt="@Weather1.Weather[0].Description">

<p>Today: @Weather1.Weather[0].Description</p>

<p>Temperature: @Weather1.AboutWeather.Temp  °C</p>

<p>Feels Like: @Weather1.AboutWeather.FeelsLike  °C</p>

<p>Sea Level Pressure: @Weather1.AboutWeather.SeaLevelPressure hPa</p>

<p>Ground Level Pressure: @Weather1.AboutWeather.GroundLevelPressure hPa</p>

<p>Humidity: @Weather1.AboutWeather.Humidity %</p>

<p>Visibility: @(Weather1.Visibility.ToString()) km</p>

<p>Wind Speed: @Weather1.Wind.Speed m/s </p>

<p>Wind Gust Speed: @Weather1.Wind.Gust m/s </p>

<p>Wind Direction: @GetWindDirection(Weather1.Wind.Deg) (Weather1.WindInfo.Deg°)</p>

<p>
    Sunrise: @ConvertToUniversalTime(Weather1.CurrentSunInfo.Sunrise)
</p>

<p>
    Sunset: @ConvertToUniversalTime(Weather1.CurrentSunInfo.Sunset)
</p> *@